//colors
$color-primary : #1859A3;
$color-secondary : #70A8E7;
$white: white;
$grey: #939597;
$grey-2: #5A5453;
$grey-3: #5B5B5B;
$grey-4: #EEEAEA;
$light-grey: #DFE1E6;

//fonts
$font-primary : 'Arial';