.block {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-section{
    &__section-one {
        background-color: $color-primary;
        width: 415px;
        height: 315px;
        color: $white;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            text-transform: uppercase;
            font-size: 32px;
            margin-top: 52px;
        }
    }

    &__section-two{
        background-color: $color-secondary;
        width: 579px;
        height: 597px;
        color: $white;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
    