body{
    font-family: $regular;
}

h2, title-h2{
    font-size: 36px;
}

p{
    font-size: 26px;
}

.trait{
    border-bottom: 1px solid $color-primary;
    width: 7%;
    margin-left: 40px;
}


strong{
    font-weight: 600;
}